body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: red !important;
    color: #111;
    max-width: 800px
    margin: 60px auto;
    line-height: 1.7; 
}

nav {
    margin-bottom: 40px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #003366;
    front-weight: bold;
}

h1 {
    font-size: 2.4em;
    margin-bottom: 10px;
}

p {
    font-size: 1.05em;
}

.archive-not {
    font-style: italic;
    color: #444;
    margin-top: 30px;

}
