body {
    background-color: #0f0f0f; 
    color: #eaeaea; 
    font-family: arial, helvetica,
sans-serif; 
    margin: 0; 
    padding: 0;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 40px
}
h1 {
    front-size: 3em;
    margin-bottom: 10px
}
p {
    front-size: 1 .2em;
    line-height: 1 .6;
}
a {
    color: #9ad1ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}